<!DOCTYPE html>
<html lang="en">
<head>
    <%- include components/head.ejs %>
    <link rel="stylesheet" href="/css/download.css">
    <title>Bit Link</title>
</head>
<body>
<%- include('components/navbar.ejs', {page: "download"}) %>
<div class="section title-container">
    <div class="content">
        <h1><a href="/download">Download</a></h1>
    </div>
</div>
<div class="section main-content">
    <div class="maxed-width-container">
        <div class="main-download-container">
            <h2 class="download-title">Download for <%= names[platform] %></h2>
            <p>Click the button below to begin your download for <%= names[platform] %>. If this is not the correct platform, select one from the list below.</p>
            <a href="/download/start/<%= platform %>"><button class="big-button">Download</button></a>
        </div>
        <div class="other-options-container">
            Or download for
            <ul>
                <li><a href="/download/windows">Windows</a></li>
                <li><a href="/download/mac">macOS</a></li>
                <li><a href="/download/linux">Linux</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>
